.card {
    width:320px;
    border:0.1px solid lightgray;
    margin:20px;
    padding:5px;
    background-color:lightblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow:5px 5px lightgray;
    border-radius:0px 25px 0px 0px;
    }

h3 {
    margin:10px 10px;
}

img {
    display:block;
    margin:20px auto;
}

.facts {
    width:280px;
    height:350px;
    border: 0.1px solid lightgray;
    margin:5px auto;
    padding:10px;
    background-color:white;
}

ul {
    list-style:none;
    padding:0;
}

.italics {
    font-style:italic;
}

span {
    font-weight:bold;
}

.credit {
    font-style:italic;
    font-size: 8pt;
}
